body{

}
h1{
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
    margin-top: 50px;
    padding: 5px;
}
p{
    border: 2px solid gray;
    color: cyan;
    padding: 10px;
}
